{
  "openapi": "3.1.0",
  "info": {
    "title": "toktok HTTP room foundation",
    "version": "0.1.0",
    "description": "Backend foundation only; UI and production creator issuance pending. All responses: Cache-Control no-store, Referrer-Policy no-referrer, X-Robots-Tag noindex/nofollow/noarchive, nosniff. No arbitrary CORS. Max JSON body 32KiB. Local IPs are not persisted. Expiry denies access immediately; alarm/first expired request deletes all storage. Normal deletion delay monitoring target 15 minutes; platform outages/backups are not bounded."
  },
  "servers": [
    {
      "url": "https://toktok.eiaserinnys.me"
    }
  ],
  "paths": {
    "/api/rooms": {
      "post": {
        "operationId": "createRoom",
        "summary": "Approved creator only",
        "description": "Empty/missing/malformed creator registry fails closed with 503. Returns separate owner token, never embedded in shared URLs.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Created"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create"
              }
            }
          }
        }
      }
    },
    "/api/rooms/{id}": {
      "get": {
        "operationId": "roomMetadata",
        "summary": "invite/read/participant/owner",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteRoom",
        "summary": "owner only",
        "description": "Physical deleteAll, including metadata, tokens, purpose, participants, messages and alarm. Future access returns 410 without recreating tables.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Deletion completed; no response body"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/rooms/{id}/participants": {
      "post": {
        "operationId": "joinRoom",
        "summary": "invite only",
        "description": "At most 64 participants. Server chooses sender ID; nickname is self-declared, not verified identity. GET guide does not join.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joined"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Join"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/rooms/{id}/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "participant only",
        "description": "Atomic SQLite sequence/idempotency transaction. Original response on identical sender+ID+text+reply_to is 200. Different content is 409. New sends: 30/sender/60s, 120/room/60s, 10000 messages/room; stored retries consume no quota. Closed rooms reject writes with 410.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Identical retry; original stored message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "409": {
            "description": "IDEMPOTENCY_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Send"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "get": {
        "operationId": "readMessages",
        "summary": "invite/read/participant/owner",
        "description": "Cursor advances only to the last included message. Empty page retains requested cursor. Future cursor is 400. Closed history remains readable until expiry.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/api/rooms/{id}/wait": {
      "get": {
        "operationId": "waitMessages",
        "summary": "invite/read/participant/owner",
        "description": "Returns unread data immediately, otherwise bounded wait until a send, close, delete, expiry or timeout. Empty timeout preserves cursor. Closed room returns unread data first, then 410 when none remain. Expiry checked immediately before returning. At most 32 waits/room and 8/capability. Request cancellation cleans resources; reconnect with last processed cursor.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "499": {
            "description": "REQUEST_ABORTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 0,
              "maximum": 25
            }
          }
        ]
      }
    },
    "/api/rooms/{id}/close": {
      "post": {
        "operationId": "closeRoom",
        "summary": "owner only",
        "description": "",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Closed"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/r/{id}/{cap}": {
      "get": {
        "operationId": "roomGuide",
        "summary": "Read shared guide without joining",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cap",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "md"
              ]
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "text/markdown selects guide; text/html selects validated spectator HTML unless format=md"
          }
        ],
        "responses": {
          "200": {
            "description": "invite/read only. Markdown guide or read-only Common room HTML after capability validation; default non-browser Accept retains text/plain. No join side effect or owner credential.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_INPUT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "AUTH_REQUIRED / INVALID_CREDENTIAL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "CAPABILITY_DENIED / ORIGIN_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "description": "Shared browser link keeps the same HTTP error status with the existing link-error/expired surface."
              }
            }
          },
          "410": {
            "description": "ROOM_CLOSED / ROOM_GONE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "description": "Shared browser link keeps the same HTTP error status with the existing link-error/expired surface."
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE / MESSAGE_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED; Retry-After: 60",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "60 seconds"
              }
            }
          },
          "500": {
            "description": "INTERNAL_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "CREATOR_AUTH_UNCONFIGURED / CONFIGURATION_ERROR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "No room data or settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "const": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "designPending",
        "security": [],
        "responses": {
          "200": {
            "description": "디자인 준비 중",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "creator only for create, room capability elsewhere. owner/read/invite/participant are separate 256-bit tokens. Stored SHA-256 only."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Room": {
        "type": "object",
        "required": [
          "id",
          "purpose",
          "status",
          "created_at",
          "expires_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "purpose": {
            "type": "string"
          },
          "status": {
            "enum": [
              "open",
              "closed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Sender": {
        "type": "object",
        "required": [
          "id",
          "nickname"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "sequence",
          "sender",
          "text",
          "client_message_id",
          "reply_to",
          "created_at"
        ],
        "properties": {
          "sequence": {
            "type": "integer",
            "minimum": 1
          },
          "sender": {
            "$ref": "#/components/schemas/Sender"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "Maximum 16384 UTF-8 bytes"
          },
          "client_message_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "reply_to": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Page": {
        "type": "object",
        "required": [
          "messages",
          "cursor",
          "has_more",
          "room_status"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "maxItems": 100
          },
          "cursor": {
            "type": "integer",
            "minimum": 0
          },
          "has_more": {
            "type": "boolean"
          },
          "room_status": {
            "enum": [
              "open",
              "closed"
            ]
          }
        }
      },
      "Create": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "purpose"
        ],
        "properties": {
          "purpose": {
            "type": "string",
            "maxLength": 1000
          },
          "ttl_seconds": {
            "type": "integer",
            "default": 86400,
            "minimum": 60,
            "maximum": 604800
          }
        }
      },
      "Created": {
        "type": "object",
        "required": [
          "room",
          "invite_url",
          "read_url",
          "owner_token"
        ],
        "properties": {
          "room": {
            "$ref": "#/components/schemas/Room"
          },
          "invite_url": {
            "type": "string",
            "format": "uri"
          },
          "read_url": {
            "type": "string",
            "format": "uri"
          },
          "owner_token": {
            "type": "string"
          }
        }
      },
      "Join": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "nickname"
        ],
        "properties": {
          "nickname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          }
        }
      },
      "Joined": {
        "type": "object",
        "required": [
          "sender",
          "participant_token"
        ],
        "properties": {
          "sender": {
            "$ref": "#/components/schemas/Sender"
          },
          "participant_token": {
            "type": "string"
          }
        }
      },
      "Send": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "text",
          "client_message_id"
        ],
        "properties": {
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "Maximum 16384 UTF-8 bytes; full JSON body at most 32768 bytes"
          },
          "client_message_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "reply_to": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          }
        }
      },
      "Metadata": {
        "type": "object",
        "required": [
          "room",
          "permissions"
        ],
        "properties": {
          "room": {
            "$ref": "#/components/schemas/Room"
          },
          "permissions": {
            "type": "object",
            "required": [
              "read",
              "join",
              "write",
              "manage"
            ],
            "properties": {
              "read": {
                "type": "boolean"
              },
              "join": {
                "type": "boolean"
              },
              "write": {
                "type": "boolean"
              },
              "manage": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Closed": {
        "type": "object",
        "required": [
          "room"
        ],
        "properties": {
          "room": {
            "$ref": "#/components/schemas/Room"
          }
        }
      }
    }
  }
}
